<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Index</title>
</head>

<body>
<!-- Page Content -->
<div layout:fragment="content" th:remove="tag">
    <h1 class="page-header text-center">Welcome to Drive Tuning Portal!</h1>
</div>
</body>
</html>